{% load static %}
<DOCTYPE HTML>
<!--_meta 作为公共模版分离出去-->

<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="favicon.ico" >
<link rel="Shortcut Icon" href="favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="/static/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css" />


<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<title>数据库管理系统</title>



</head>
<body>
<!--_header 作为公共模版分离出去-->
<header class="navbar-wrapper">
	<div class="navbar navbar-fixed-top">
		<div class="container-fluid cl"> 
			<span class="logo navbar-slogan f-l mr-10 hidden-xs">数据库管理系统</span> 
			<a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs" href="javascript:;">&#xe667;</a>
			<nav class="nav navbar-nav">
				<ul class="cl">
					<li class="dropDown dropDown_hover"><a href="javascript:;" class="dropDown_A"><i class="Hui-iconfont">&#xe600;</i> 新增 <i class="Hui-iconfont">&#xe6d5;</i></a>
						<ul class="dropDown-menu menu radius box-shadow">
							<li><a href="javascript:;" onclick="article_add('添加资讯','article-add.html')"><i class="Hui-iconfont">&#xe616;</i> 本地主机</a></li>
							<li><a href="javascript:;" onclick="picture_add('添加资讯','picture-add.html')"><i class="Hui-iconfont">&#xe613;</i> 外围主机</a></li>
							<li><a href="javascript:;" onclick="product_add('添加资讯','product-add.html')"><i class="Hui-iconfont">&#xe620;</i> 数据记录</a></li>
							<li><a href="javascript:;" onclick="member_add('添加用户','member-add.html','','510')"><i class="Hui-iconfont">&#xe60d;</i> 用户</a></li>
				</ul>
			</li>
		</ul>
	</nav>
			<nav id="Hui-userbar" class="nav navbar-nav navbar-userbar hidden-xs">
				<ul class="cl">
					{% if request.session.is_login %}
					<li>超级管理员</li>
					<li class="dropDown dropDown_hover"> <a href="#" class="dropDown_A">{{ request.session.user_name }} <i class="Hui-iconfont">&#xe6d5;</i></a>
						<ul class="dropDown-menu menu radius box-shadow">
							<li><a href="javascript:;" onClick="myselfinfo()">个人信息</a></li>
							<li><a href="{% url 'logout' %}">切换账户</a></li>
							<li><a href="{% url 'logout' %}">退出</a></li>
						{% else %}
						<li><a href="{% url 'login' %}">登录</a></li>
					{% endif %}
				</ul>
			</li>
					<li id="Hui-msg"> <a href="#" title="消息"><span class="badge badge-danger">1</span><i class="Hui-iconfont" style="font-size:18px">&#xe68a;</i></a> </li>
					<li id="Hui-skin" class="dropDown right dropDown_hover"> <a href="javascript:;" class="dropDown_A" title="换肤"><i class="Hui-iconfont" style="font-size:18px">&#xe62a;</i></a>
						<ul class="dropDown-menu menu radius box-shadow">
							<li><a href="javascript:;" data-val="default" title="默认（黑色）">默认（黑色）</a></li>
							<li><a href="javascript:;" data-val="blue" title="蓝色">蓝色</a></li>
							<li><a href="javascript:;" data-val="green" title="绿色">绿色</a></li>
							<li><a href="javascript:;" data-val="red" title="红色">红色</a></li>
							<li><a href="javascript:;" data-val="yellow" title="黄色">黄色</a></li>
							<li><a href="javascript:;" data-val="orange" title="橙色">橙色</a></li>
				</ul>
			</li>
		</ul>
	</nav>
</div>
</div>
<script src="{% static 'h-ui/js/vue.js' %}"></script>
<style>
*{
	box-sizing: border;
	margin: 0;padding: 0;
}
*:before,*:after{
	box-sizing: border-box;
}
ul,
li {
	list-style: none;
}

.l_tree_container {
	width: 100%;
	height: 100%;
	box-shadow: 0 0 3px #ccc;
	margin: 10px;
	position: relative;
}

.l_tree {
	width: calc(100% - 44px);
	height: 100%;
	padding-left: 42px;
}
.l_tree_branch {
	width: 100%;
	height: 100%;
	display: block;
	padding: 13px;
	position: relative;
}

.l_tree_branch .l_tree_children_btn {
	width: 19px;
	height: 19px;
	background-color: #23b1f0;
	font-size: 12px;
	text-align: center;
	color: #ffffff;
	outline: none;
	border: 0;
	cursor: pointer;
}

ul.l_tree:before {
	content: '';
	border-left: 1px dashed #999999;
	height: calc(100%);
	position: absolute;
	left: 10px;
	top: 0px;
}

.l_tree .l_tree_branch:last-child::before {
	content: '';
	width: 3px;
	height: calc(100% - 24px);
	display: block;
	background-color: #ffffff;
	position: absolute;
	bottom: 0;
	left: -34px;
}

.l_tree,
.l_tree_branch {
	position: relative;
}

.l_tree_branch::after {
	content: '';
	width: 40px;
	height: 0;
	border-bottom: 1px dashed #000;
	position: absolute;
	right: calc(100% - 9px);
	top: 22px;
}

.l_tree_container>.l_tree::before,
.l_tree_container>.l_tree>.l_tree_branch::after {
	display: none;
}
</style>

</header>

<aside class="Hui-aside">
	<nav class="breadcrumb">
		<span class="c-666">所有数据库</span> 
		<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<table>
  <tr>
    <td height="50%">
	<div id="demo">
	<div class="l_tree_container">
		<ew1-tree :model="testdata"></ew1-tree>
	</div>
	</div>

	<script>
		// 树组件

	
		
		Vue.component('ew1-tree', {
			template: `
			<ul class="l_tree">
				<li class="l_tree_branch" v-for="item in model" :key="item.id">
					<div class="l_tree_click">
						<button type="button" class="l_tree_children_btn" v-if="item.children"  @click="toggle(item)">{% verbatim myblock %}{{ !item.show ? '-' : '+' }}{% endverbatim myblock %}</button>
						<span class="l_folder"  @click="achievesite(item)"><strong>{% verbatim myblock %}{{ item.chinese_name }}{% endverbatim myblock %}</strong></span>
					</div>
					<ew1-tree v-show="!item.show" v-if="item.children" :model="item.children"></ew1-tree>
				</li>
			</ul>`,
			props: {
				model: {}
			},
			methods: {
				toggle: function (item) {
					var idx = this.model.indexOf(item)
					Vue.set(this.model[idx], 'show', !item.show)
				},
				achievesite: function(item) {
					if(!item.database){
						return;
					}
					// console.log(item.name)
					// console.log(item.database)
					// console.log(item.site_no)
					on_click_influx_table(item.site_no, item.database, item.name, item.chinese_name,{})
				}
			}
		});
		
	</script>
	  </td>
  </tr>
	
  <tr>
    <td height="50%">
	<div id="demo2">
	<div class="l_tree_container">
		<ew2-tree :model="testdata"></ew2-tree>
	</div>
	</div>

	<script>
		// 树组件
		
		Vue.component('ew2-tree', {
			template: `
			<ul class="l_tree">
				<li class="l_tree_branch" v-for="item in model" :key="item.id">
					<div class="l_tree_click">
						<button type="button" class="l_tree_children_btn" v-if="item.children"  @click="toggle(item)">{% verbatim myblock %}{{ !item.show ? '-' : '+' }}{% endverbatim myblock %}</button>
						<span class="l_folder" @click="achievesite(item)"><strong>{% verbatim myblock %}{{ item.chinese_name }}{% endverbatim myblock %}</strong></span>
					</div>
					<ew2-tree v-show="!item.show" v-if="item.children" :model="item.children"></ew2-tree>
				</li>
			</ul>`,
			props: {
				model: {}
			},
			methods: {
				toggle: function (item) {
					var idx = this.model.indexOf(item)
					Vue.set(this.model[idx], 'show', !item.show)
				},
				achievesite: function(item) {
					if(!item.name){
						return;
					}
					// console.log(item.name)
					on_click_config_table(item.name, item.chinese_name)
				}
			}
		});
	</script>
	  </td>
  </tr>
</table>

</aside>
		
	
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<section class="Hui-article-box">
	<nav >
		<span class="c-666">数据展示</span>
	
				<button type="button" class="btn btn-default" id="addRowbtn">添加行</button>
				<button type="button" class="btn btn-default" id="saveRowbtn">保存</button>
				<button type="button" class="btn btn-default" id="dropbtn">丢弃修改</button>
				
				<div class="div1" id="refresh_component">
					<select class="form-control" id="refresh_time">
						<option value="500">500ms</option>
						<option value="1000" selected="selected"> 1000ms </option>
						<option value="6000"> 1min </option>
						<option value="30000">5min</option>
					</select>
					
					<input type="checkbox" class="form-check-input" id="refresh_check">刷新</input>
				</div>

				<div id="select_key_div" class="div2"></div>
			
				<style>
					.div1 {
					display: inline-block;
					margin-left:20px;
					}
					.div2 {
					display: inline-block;
					margin-left:20px;
					}
					</style>
				
				
			
			

	</nav>


	<div class="Hui-article">
		<article class="cl pd-20" style="width: 1300px">
			
			<!-- <table class="table table-border table-bordered table-bg" id="show_data" /> -->
			<table class="table table-striped table-hover" id="reportTable"></table>
	

</article>

</div>
</section>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="{% static 'lib/jquery/1.9.1/jquery.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'lib/layer/2.4/layer.js' %}"></script>
<script type="text/javascript" src="{% static 'h-ui/js/H-ui.js' %}"></script> 
<script type="text/javascript" src="{% static 'h-ui.admin/js/H-ui.admin.page.js' %}"></script>
<!-- <script type="text/javascript" src="/static/bootstrap-3.3.7/plus/import.inc.js"></script> -->
<script type="text/javascript" src="/static/bootstrap-3.3.7/plus/table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="/static/bootstrap-3.3.7/plus/table/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="/static/bootstrap-3.3.7/plus/table/bootstrap-table-edit.js"></script>
<script type="text/javascript" src="/static/bootstrap-3.3.7/plus/bootstrap-select.js"></script>
<script type="text/javascript" src="/static/bootstrap-3.3.7/plus/datatime/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/static/bootstrap-3.3.7/plus/datatime/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript" src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/bootstrap-3.3.7/js/html5shiv.min.js"></script>
<link rel='stylesheet' type='text/css' href="/static/bootstrap-3.3.7/plus/table/bootstrap-table.min.css"></script></link>
<!-- <link rel='stylesheet' type='text/css' href="/static/bootstrap-3.3.7/css/bootstrap.min.css"></link> -->
<link rel='stylesheet' type='text/css' href="/static/bootstrap-3.3.7/plus/datatime/bootstrap-datetimepicker.min.css"></link>
<script>
	$.ajaxSetup({
		data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
	})
</script>
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
		$('#refresh_component').css({ "display": "none" });
		$('#select_key_div').css({ "display": "none" });

		current_config = {
			database_type: "",
			table_name:"",
			table_chinese_name:"",
			site_no:"",
			database:""
		}
		// 当前修改的所有条目的索引
		var all_modify_index = new Set()
		// 当前的表名
		var current_table_name = ""
		var current_click_row = -1
		var current_select_keys = []
		var current_select_key_values = {}

		function show_selected_key(result, all_keys) {
			chinese_title = result['chinese_title']
			optional_content = result['optional_content']
			select_key_string = ""
			$.each(chinese_title, function(index, item){
				if(item['isoptional']==1){
					if(current_config.database_type=="influx") {
							// select_key_string += "<select>" 
								select_key_string += generate_select_keys(String(item['domain_name']), String(item['domain_chinese_name']), optional_content);
								current_select_keys.push(String(item['domain_name']));
						}
				}	
			});
			var select_key_elem = document.getElementById("select_key_div");
			// $('#select_key_div').html("<p>hello</p>");
			// console.log(select_key_string);
			select_key_elem.innerHTML = select_key_string;
			// $('#select_key').html(select_key_string);
			select_key_string = "";

			for(var key in all_keys) {
				value = all_keys[key]
				// $('#select_'+current_select_keys[i]+" option[value="+all_keys[current_select_keys[i]]+"]").attr('selected', true);
				console.log(key, value);
				$('#select_'+key+" option[value="+value+"]").attr('selected', true);
			}
		}

		// current_database_type = "mysql"
		// current_config_table_name = ""  //当前点击的表名
		// current_config_table_chinese_name = "" //当前点击的表中文名
		function on_click_config_table(name,chinese_name){
			data = {'table':name,'table_chinese_name':chinese_name}
					$.ajax({
						url:"{% url 'load_config_table' %}",
						type:"GET",
						data:data,
						success:function(result) {
							// console.log(result)
							current_config.database_type = "mysql"
							current_config.table_name = name
							current_config.table_chinese_name = chinese_name
							// console.log(current_table_name,current_table_chinese_name)
							all_modify_index = new Set()
							current_table_name = ""
							current_click_row = -1
							current_select_keys = []
							show_config_table(data, result);
							$('#refresh_component').css({ "display": "none" });
							$('#select_key_div').css({ "display": "none" });
							// $('#checkbox_div').css({ "display": "none" });
							// $('#select_key_div').html("");
						}
					})
		}
		function on_click_influx_table(site_no, database, name, chinese_name, all_keys){
			data = {'site_no':site_no, "database":database, 'table_name':name,'table_chinese_name':chinese_name, "all_keys":JSON.stringify(all_keys)}
					$.ajax({
						url:"{% url 'load_site_table' %}",
						type:"GET",
						data:data,
						success:function(result) {
							current_config.database_type = "influx"
							current_config.table_name = name
							current_config.table_chinese_name = chinese_name
							current_config.site_no = site_no
							current_config.database = database
							console.log(result);
							all_modify_index = new Set()
							current_table_name = ""
							current_click_row = -1
							current_select_keys = []
							show_selected_key(result, all_keys);
							show_influx_table(data, result);
							$('#refresh_component').css({ "display": "inline" });
							$('#select_key_div').css({ "display": "inline" });
							// $('#checkbox_div').css({ "display": "inline" });
							// $('#select_key_div').html("");

						}
					})
		}

		$(document).ready(function(){ 
			data = {}
			$.ajax({
            url:"{% url 'load_tables_info' %}",
            type:"GET",
            data:data,
			success:function (result) { // result is String
				// console.log(result)
				site_tables = result['site_tables']
				config_tables = result['config_tables']

				// new_site_tables = []
				// for 
				new Vue({
					el: "#demo",
					data() {
						return {
							testdata: [{chinese_name: "influx数据库",
							children:site_tables
							}]
						}
					}
				})
				new Vue({
					el:"#demo2",
					data() {
						return {
							testdata:[{chinese_name:"MySQL配置数据库",
							children: config_tables
							}]
						}
					}
				})
			}
		});
	})

	function generate_selector(device_name, rowIndex, joint_optional_content, value){
		var setInfo = device_name;
		
		if(setInfo==null){
			return '<input type="text" value="无" class="form-control" id="select_'+rowIndex+'">';
		}else {
			if(setInfo ==""){
				setInfo = Object.keys(joint_optional_content)[0];
			}
			var opt = joint_optional_content[setInfo];
			str = '<select class="form-control" style="width:120px;" id="select_'+rowIndex+'" onchange="select_change('+rowIndex+')">';
			for(i = 0; i < opt.length; i++) {
				row2 = opt[i];
				if(row2['id'] == value){
					str+='<option value="'+row2['id']+'" selected="selected">'+row2['text']+'</option>'
				}else{
					str+='<option value="'+row2['id']+'">'+row2['text']+'</option>'
				}
				
			}
			str+='</select>'
		}
		return str;
	}

	function select_change(rowIndex){
		var objs =  document.getElementById("select_"+String(rowIndex));
		current_select_index = objs.selectedIndex;
		
		var current_value = objs.options[current_select_index].value;
		
		var row= $('#reportTable').bootstrapTable('getData',useCurrentPage=true)[rowIndex];
		// console.log(row);
		row.data_name = current_value;
		// console.log(row);
	}

			function set_report_table(result) {

				table_name = result['table_name'] //一个名字
				table_chinese_name = result['table_chinese_name'] //一个名字
				current_table_name = table_name
				table_data = result['table_data']
				chinese_title = result['chinese_title']
				optional_content = result['optional_content']
				joint_optional_content = result['joint_optional_content']

				select_key_string = ""
				var title_filed = []

				$.each(chinese_title, function(index, item){
					
					if(item['modified']==0){
						if(item['domaintype']=="datetime") {
							title_filed.push({field:String(item['domain_name']),edit:{
							type:'date',//日期
							// required:true,
							sortable:true,
							click:function(){
							}
						},title:String(item['domain_chinese_name']),align:"center"});
						}else if(item['isrealtime']==1){
							title_filed.push({field: String(item['domain_name']),title: String(item['domain_chinese_name']),align:"center",
							cellStyle: function (value,row,index){
								return {css: {"color": "red","font-weight":"bloder"},sortable:true };
							} })
						} else if(item['isoptional']==1){
							title_filed.push( {field: String(item['domain_name']), title: String(item['domain_chinese_name']),sortable:true, edit:{
											type:'select',//下拉框
											//url:'user/getUser.htm',
											data:optional_content[item['domain_name']],
											valueField:'id',
											textField:'text',
											onSelect:function(val,rec){
												console.log(val,rec);
												// console.log($element);
												if(item['domain_name']=='device_name'){
													if(current_click_row > -1) {
														var current_selector = document.getElementById("select_"+String(current_click_row));
														console.log(current_selector);
															str = generate_selector(val, current_click_row, joint_optional_content, null);
															// console.log(str);
															current_selector.innerHTML = str;
													}
												}
											}
							}
						});

						} else if(item['isoptional']==2) {
							title_filed.push({
								field: String(item['domain_name']), 
								title: String(item['domain_chinese_name']),
								align: 'center',
								// edit:{type:'select'},
								sortable:true,
								edit:false,
								formatter: function(value,row,rowIndex){
									// console.log(value);

									return generate_selector(row.device_name, rowIndex, joint_optional_content, value);
								}
							})
						}else
						{
							title_filed.push({field: String(item['domain_name']),title: String(item['domain_chinese_name']),align:"center",sortable:true })
						}
						
						
					}else{
						title_filed.push({field: String(item['domain_name']),title: String(item['domain_chinese_name']),align:"center",edit:false,sortable:true })
					}
					// console.log(edited)
					
				});
				// var select_key_elem = document.getElementById("select_key_div");
				// // $('#select_key_div').html("<p>hello</p>");
				// console.log(select_key_string);
				// select_key_elem.innerHTML = select_key_string;
				// // $('#select_key').html(select_key_string);
				// select_key_string = "";

				if(current_config.database_type=="mysql") {
					title_filed.push({field:"del_field",title:"删除数据",align:"center",formatter:function(value,row,rowIndex){
							var strHtml = '<a href="javascript:void(0);" onclick="removeRow('+rowIndex+')">删除</a>';
							return strHtml;
						},edit:false})
				}


							//编辑表格
				$('#reportTable').bootstrapTable({
					method: 'get',
					editable:true,//开启编辑模式
					clickToSelect: true,
					columns: [
						[
							{colspan:16,title:table_chinese_name,align:"center"}
						],
						title_filed
					],
					onClickRow: function (row,$element) {
						var index = $element.data('index');
						console.log(row);
						current_table_name = table_name
						all_modify_index.add(index)	
						current_click_row = index			
					},
					onClickCell: function(field,value,row,$element){
						// console.log(field,value,row);
						// if(field=="data_name"){
						// 	console.log(field,value,row);
							
						// }

					},
					data: table_data
				}); 

			}

			// function setInfoForm(value, row, index){

			// }

			

			
			$('#addRowbtn').click(function(){
				var data= {}
				// $.extend(true, data, current_data_format);
				// console.log(data)
				$('#reportTable').bootstrapTable('append',data);
				$('#reportTable').bootstrapTable('scrollTo', 'bottom');
				// var showdiv = document.getElementById("reportTable")
				// showdiv.scrollTop = showdiv.scrollHeight
				
			});

			$('#saveRowbtn').click(function(){
				if(current_config.database_type == "mysql") {
					if(window.confirm('你确定要保存吗？保存完后不可恢复！')){
							if(all_modify_index.size==0) {
								alert("目前未做任何更改！");
							} else {
								save_data(current_table_name, all_modify_index);
							}				
						return true;
					}else{
						//alert("取消");
						return false;
					}
				}else if(current_config.database_type == "influx") {
					if(window.confirm('你确定要保存吗？保存完后不可恢复！')){
							if(all_modify_index.size==0) {
								alert("目前未做任何更改！");
							} else {
								save_data_influx(current_config.site_no, current_config.database,current_config.table_name,  all_modify_index);
							}			
						return true;
					}else{
						//alert("取消");
						return false;
					}
				}
				
				// console.log(all_modify_data)
			});

			$('#dropbtn').click(function(){
				if(current_config.table_name==""){
					return;
				}
				if(window.confirm('你确定要丢弃已修改的内容吗？')){
				if(current_config.database_type == "mysql") {
					// save_data(current_table_name, all_modify_index)
					on_click_config_table(current_config.table_name,current_config.table_chinese_name);
					all_modify_index = new Set();
                 return true;
              }else if(current_config.database_type == "influx"){
                //  alert("取消");
				var all_keys = {};
				console.log(current_select_keys);
				for(var i = 0; i < current_select_keys.length; i++) {
					all_keys[current_select_keys[i]] = $('#select_'+current_select_keys[i]).val();
				}
				 on_click_influx_table(current_config.site_no, current_config.database, current_config.table_name, current_config.chinese_name,all_keys);
                 return true;
             } else {
				 return false;
			 }
				// console.log(all_modify_data)
		}
				
			});
			var current_timer_id = null;
			$('#refresh_check').click(function(){
				// console.log("refresh");
				check_state = $('#refresh_check').prop("checked");
				if(check_state) {
					//选中刷新按钮
					let refresh_time = $('#refresh_time').val();
					if(current_config.database_type=="influx") {
						// $('#reportTable').disabled();
						current_timer_id = setInterval(function(){
							update_influx_data(refresh_time);
						}, parseInt(refresh_time));
						$('#refresh_time').attr("disabled", true);
						// $('#select_key_div').attr("disabled", true);
						for(var i = 0; i < current_select_keys.length; i++) {
							$('#select_'+current_select_keys[i]).attr("disabled", true);
						}
					}			
				}else{
					//没有选中刷新按钮
					if(current_timer_id!=null) {
						clearInterval(current_timer_id);
					}
					$('#refresh_time').attr("disabled", false);
					for(var i = 0; i < current_select_keys.length; i++) {
							$('#select_'+current_select_keys[i]).attr("disabled", false);
						}
				}
			});

			$('.form_datetime').datetimepicker({
				weekStart: 1,
				todayBtn:  1,
				autoclose: 1,
				todayHighlight: 1,
				startView: 2,
				forceParse: 0,
				language:'zh-CN',
				format: 'yyyy-mm-dd hh:ii:ss',
				pickerPosition: 'bottom-left',
				showMeridian: 1
			});
    	// });
		function removeRow(rowIndex){
			if(current_config.database_type == "mysql") {
				if(window.confirm('你确定要删除这条记录吗？')){
					
					var rows= $('#reportTable').bootstrapTable('getData',useCurrentPage=true)[rowIndex];
					console.log(rows);
					delete_config_data(current_config.table_name,rows);

					$('#reportTable').bootstrapTable('removeRow',rowIndex);
					return true;
				}else{
					//alert("取消");
					return false;
				}
			}
			
		}

	// 点击表名之后，返回表的部分数据，用于表格展示
	function show_influx_table(data, result) {
		$("#reportTable").bootstrapTable(('destroy'));
		set_report_table(result)
	}

	function delete_config_data(table_name,row){

		var data = {modify_row: JSON.stringify(row),table_name:table_name}
		$.ajax({
            url:"{% url 'del_config_tables' %}",
            type:"POST",
            data:data,
			success:function (result) { // result is String
				del_state = result['del_state']
				del_info = result['del_info']
				if(del_state==1){
					alert(del_info);
				} else {
					alert(del_info);
				}
			
			}
		});

	}

	function save_data(table_name, row){
		var all_modify_data = []
		console.log(row)
		for(var x of row){
			var r= $('#reportTable').bootstrapTable('getData',useCurrentPage=true)[x];
			var newr = {}
			$.extend(true, newr, r);
			delete newr['del_field'];
			all_modify_data.push(newr)
		}

		console.log(all_modify_data)
		
		var data = {modify_row: JSON.stringify(all_modify_data),table_name:table_name}
		$.ajax({
            url:"{% url 'save_config_tables' %}",
            type:"POST",
            data:data,
			success:function (result) { // result is String
				update_state = result['update_state']
				update_info = result['update_info']
				if(update_state==1){
					alert(update_info);
				} else {
					alert(update_info);
				}
				
				all_modify_index = new Set()
			}
		});

	}

	function save_data_influx(site_no, database, table_name, row){
		var all_modify_data = []
		console.log(row)
		for(var x of row){
			var r= $('#reportTable').bootstrapTable('getData',useCurrentPage=true)[x];
			var newr = {}
			$.extend(true, newr, r);
			// delete newr['del_field'];
			all_modify_data.push(newr)
		}

		console.log(all_modify_data)
		var data = {modify_row: JSON.stringify(all_modify_data),table_name:table_name, site_no:site_no, database:database}

		$.ajax({
            url:"{% url 'save_influx_tables' %}",
            type:"POST",
            data:data,
			success:function (result) { // result is String
				update_state = result['update_state']
				update_info = result['update_info']
				if(update_state==1){
					alert(update_info);
				} else {
					alert(update_info);
				}
				
				all_modify_index = new Set()
			}
		});


	}

	function show_config_table(data, result) {
		$("#reportTable").bootstrapTable(('destroy'));
		set_report_table(result)
	}


	function update_influx_data(refresh_time) {
		var all_keys = {};
		console.log(current_select_keys);
		for(var i = 0; i < current_select_keys.length; i++) {
			all_keys[current_select_keys[i]] = $('#select_'+current_select_keys[i]).val();
		}

		var data = {table_name:current_config.table_name, site_no:current_config.site_no, database:current_config.database, refresh_time:refresh_time, all_keys:JSON.stringify(all_keys)}

		$.ajax({
            url:"{% url 'refresh_influx_table' %}",
            type:"POST",
            data:data,
			success:function (result) { // result is String
				new_rows = result['update_data']
				for(var i = 0; i < new_rows.length; i++){
					$('#reportTable').bootstrapTable('prepend',new_rows[i]);

				}
			}
		});
	}

	function generate_select_keys(domain_name, domain_chinese_name, optional_content) {

		str =  domain_chinese_name+':<select class="form-control" style="width:120px;" id="select_'+domain_name+'" onchange="select_change_keys(this)"><option value="all">所有</option>';
		all_option = optional_content[domain_name];
		for(var i=0; i < all_option.length; i++){
			row2 = all_option[i]
			str+= '<option value="'+row2['id']+'">'+row2['text']+'</option>'
		}
		str+="</select>"

		return str;
	}


	function select_change_keys(elem){
		// current_select_keys
		// console.log(elem);
		var all_keys = {};
		console.log(current_select_keys);
		for(var i = 0; i < current_select_keys.length; i++) {
			all_keys[current_select_keys[i]] = $('#select_'+current_select_keys[i]).val();
		}

		on_click_influx_table(current_config.site_no, current_config.database, current_config.table_name, current_config.chinese_name,all_keys);
	}

</script>
<!--/请在上方写此页面业务相关的脚本-->


</body>
</html>